*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
body{
    box-sizing: border-box;
    margin: 0;
}
.c-Container {
    max-width: 1440px;
    width: 800px;
    margin: auto;
}
a{
    color:red;
}

h1{
    font-size: 30px;
    text-align: center;
}

h2,h3,h4,h5,h6{
    font-size: 20px;
    text-align: center;
}
.c-Header {
    width: 100%;
    display: inline-block;
    background: #f9f9f9;
}

.c-Header__nav ul {
    list-style: none;

}

.c-Header__nav ul li {
    display: inline-block;
    width: calc(25% - 5px);
    text-align: center;
}

.c-Header__nav ul li a{
    text-decoration: none;
    color: black;
}

#c-Main__image{
    width: 30%;
    margin-left: 35%;
    margin-top: 18px;
    height:150px;
}

footer p{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}
button{
    width:25%;
    margin: 10px;
    margin-left: 37%;
}