body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 2px;
  border-radius: 20px;
  margin-bottom: 15px;  
}

.form {
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding-top: 1px;
}

.form .register-form {
  display: none;
}

.namesList {
  color: rgb(185, 67, 185);
}

.container {
  padding-top: 8px;
  width: 82%;
  margin-right: auto;
  margin-left: auto;
}

.footer{
  position: fixed;; 
  bottom: 0px;
  width: 82%;
  height: 82px; 
  background-color: black;
  text-align: center;
  color:white; 
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

input[type=password], input[type=email] {
  width: 97%;
  padding: 15px;
  margin: 5px 0 22px 0;  
  border: none;
  background: #f1f1f1;
}
  
.login_signup_buttons {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  height: 56px; 
}

.registerbtn:hover {
  opacity: 1;
}

input[type=submit] {
  width: 25%;
  padding: 12px;
  text-align: left;
  margin: 5px;
  margin-left: 0%;
  text-align: center;
}